*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex;
    float: right;
    gap: 50px;
    margin-right: 90px;
    margin-top: 20px;
    
}
nav ul li{
    list-style: none;
    font-size: 18px;
}
.main{
    width: 100%;
    height: 80vh;
    position: inherit;
    display: flex;
}
.divided{
    position:relative;
    width: 80%;
   display: flex;
   margin: auto;

   
}
.left{
   width: 330px;
   height: 290px;
   margin-left: 20px;
   margin: auto;
}
.wel{
    margin-top: 10px;
    font-size: 25px;

}
.lorem p{
    font-size: large;
    font-weight: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.button button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #0364ff;
    border:0;
    color: white;
    font-weight: 600;
}
.last{
    margin-top: 50px;
}
.serve{
    text-align: center;
    font-size: 1.6rem;
}
.lfoot .f1{
    width: 200px;
    height: 150px;
    margin-top: 30px;
}
.f1{
    display: flex;
    
}
.f1 img{
    border-radius: 50%;
}
.lfoot{
    display: flex;
    gap: 250px;
    justify-content: center;
}
.text h3{
    margin-top: 10px;
    margin-left: 10px;
}